<div class="form-item">
  <form [formGroup]="formName">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="field.errorMessage">
        <div class="input-style">
          <label class="input">
            <select
              class="input__field"
              [formControlName]="field.fieldName || ''"
              (change)="onChangeEvent($event)"
            >
              <option disabled selected>{{ " " }}</option>
              <ng-container *ngFor="let option of field.options">
                <option [value]="option.value">
                  {{ option.label }}
                </option>
              </ng-container>
            </select>
            <span
              class="input__label"
              [style.background-color]="background + ' !important'"
              >{{ field.label }}</span
            >
          </label>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
