.input-style {
  border-radius: 15px;
  border: 1px solid gray;
  height: 50px;
  display: flex;
  justify-content: space-around;
  .input {
    position: relative;
    width: 100%;
    margin: auto;
    margin-left: 15px;
    &__label {
      position: absolute;
      top: 5px;
      padding: 0 7px 0 7px;
      margin-left: 15px;
      background: rgb(242, 242, 242);
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      // border: 3px solid currentColor;
      border: none;

      color: currentColor;
      background: transparent;

      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(0.25rem, -130%) scale(0.8);
        }
      }

      &:focus {
        outline-width: 0;
      }
    }
  }
}
