<div class="videos-group">
  <div>
    <video
      id="device"
      controls
      autoplay
      [srcObject]="remoteStream"
      #remote
    ></video>
  </div>
  <div>
    <video id="me" controls autoplay #me [srcObject]="localStream"></video>
  </div>
</div>
<div>{{ roomId }}</div>
<div class="videos-group">
  <!-- <button (click)="openStream()">{{ !streamStarted ? "Start" : "End" }}</button> -->
  <button mat-raised-button color="primary" (click)="createRoom()">
    Connect
  </button>
  <!-- <button mat-raised-button color="warn">Disconnect</button> -->
</div>

<form action="">
  <input type="text" name="input" id="" (input)="roomIdChange($event)" />
</form>
<button (click)="readOffer()">Join</button>
<button (click)="recorder.stop()">Get record</button>
