<div>
  <div class="nav-item">
    <a href="/">Trang chủ</a>
  </div>
  <div class="nav-item">
    <a href="/" class="nav-item">Tính năng</a>
  </div>
  <div class="nav-item">
    <a href="/" class="nav-item">Đánh giá</a>
  </div>
  <div class="nav-item">
    <a class="nav-item" (click)="open()">Liên hệ</a>
  </div>
  <div class="nav-item nav-button">
    <a href="/" class="nav-item">Đăng ký làm thẻ</a>
  </div>
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    nzTitle="Call center"
    (nzOnClose)="close()"
    nzWidth="1000px"
  >
    <ng-container *nzDrawerContent>
      <ng-container *ngIf="visible">
        <app-meeting></app-meeting>
      </ng-container>
    </ng-container>
  </nz-drawer>
</div>

<ng-template #meeting> </ng-template>
