div {
  display: flex;
  height: 100%;
  align-items: center;
  .nav-item {
    font-size: 17px;
    font-weight: 400;
    border: none;
    padding: 5px;
    margin-right: 30px;

    a {
      text-decoration: none;
      color: rgb(109, 64, 48);
      margin: 0 0 0 0;
    }
  }

  .nav-item:hover {
    a {
      color: #28a745 !important;
    }
    cursor: pointer;
  }

  .nav-button a {
    border: 1px solid rgb(230, 206, 170);
    border-radius: 1.5rem;
  }
  :hover {
    a {
      border-color: #28a745;
    }
  }
}
