<div class="form-item">
  <ng-container
    [ngTemplateOutlet]="field.type === 'date' ? inputDate : defaultInput"
    [ngTemplateOutletContext]="{ field: field, formName: formName }"
  >
  </ng-container>
</div>

<ng-template #inputDate let-formName="formName" [formGroup]="formName">
  <nz-form-item class="item-row">
    <nz-form-control
      [formGroup]="formName"
      nzHasFeedback
      [nzErrorTip]="field.errorMessage"
    >
      <div class="input-style">
        <label class="input" [class.date-padding]="field.type === 'date'">
          <nz-date-picker
            name="birthDate"
            class="input__field"
            required
            placeholder=" "
            [formControlName]="field.fieldName || ''"
          />

          <span
            class="input__label"
            [style.background-color]="background + ' !important'"
            >{{ field.label }}</span
          >
        </label>
      </div>
    </nz-form-control>
  </nz-form-item>
</ng-template>

<ng-template
  let-field="field"
  let-formName="formName"
  #defaultInput
  [formGroup]="formName"
>
  <nz-form-item class="item-row">
    <nz-form-control
      [formGroup]="formName"
      nzHasFeedback
      [nzErrorTip]="field.errorMessage"
    >
      <div class="input-style">
        <label class="input" [class.date-padding]="field.type === 'date'">
          <input
            class="input__field"
            [type]="field.type"
            placeholder=" "
            [formControlName]="field.fieldName || ''"
          />

          <span
            class="input__label"
            [style.background-color]="background + ' !important'"
            >{{ field.label }}</span
          >
        </label>
      </div>
    </nz-form-control></nz-form-item
  >
</ng-template>
