<div class="payment-card">
  <div class="warning-frame">
    <div class="title">Chi tiết</div>
    <div class="divider"></div>
    <div class="content">
      <div class="content-item">
        <div class="item-title">Đơn giá</div>
        <div class="item-value">150.000đ</div>
      </div>
      <div class="content-item">
        <div class="item-title">Số lượng</div>
        <div class="item-value">
          {{ count }}
        </div>
      </div>
      <div class="content-item">
        <div class="item-title">Tổng tạm tính</div>
        <div class="item-value">
          {{ totalAmount }}
        </div>
      </div>
    </div>
    <button [class.active]="canSubmit" [disabled]="!canSubmit">Mua ngay</button>
  </div>
</div>
