.payment-card {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  .warning-frame {
    padding: 10px;
  }
  .title {
    font-size: 1.0625rem;
    color: rgb(109, 64, 48);
    padding: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: auto;
  }

  .divider {
    margin: 10px 0 !important;
    border-bottom: thin solid rgba(128, 128, 128, 0.6);
  }

  .content-item {
    display: flex;
    justify-items: center;
    justify-content: space-between;

    .item-title {
      font-size: 14px;
      line-height: 150%;
      color: rgb(138, 138, 143);
    }

    .item-value {
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: rgb(109, 64, 48);
      margin-bottom: 17px;
    }
  }

  button {
    background: rgb(218, 218, 218);
    border-radius: 24px;
    padding: 13px;
    border: none;
    width: 100%;
    &:hover {
      cursor: not-allowed;
    }
  }

  .active {
    background: #20c997 !important;
    &:hover {
      cursor: pointer !important;
    }
  }
}
