<div class="dynamic-form" [style.background-color]="background + ' !important'">
  <ng-container *ngIf="title"
    ><div class="dynamic-form-title">{{ title }}</div>
    <nz-divider></nz-divider
  ></ng-container>
  <div [class.horizontal]="isHorizontal">
    <ng-container *ngFor="let field of fields; index as idx">
      <div [style.flex]="100 / col - 4 + '%'" class="child">
        <ng-container [ngSwitch]="field.type">
          <app-dynamic-input
            *ngSwitchCase="'text'"
            [formName]="_formGroup"
            [field]="field"
            [background]="background"
          ></app-dynamic-input>
          <app-dynamic-select
            *ngSwitchCase="'select'"
            [formName]="_formGroup"
            [field]="field"
            (change)="field.function ? field.function.change($event) : {}"
            [background]="background"
          ></app-dynamic-select>
          <app-dynamic-radio
            *ngSwitchCase="'radio'"
            [formName]="_formGroup"
            [field]="field"
            [background]="background"
          ></app-dynamic-radio>
          <app-dynamic-checkbox
            *ngSwitchCase="'checkbox'"
            [formName]="_formGroup"
            [field]="field"
            [background]="background"
          ></app-dynamic-checkbox>
          <app-dynamic-input
            *ngSwitchDefault
            [formName]="_formGroup"
            [field]="field"
            [background]="background"
          ></app-dynamic-input>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
