.dynamic-form {
  width: 100%;
  background: var(--form-background);
  &-title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
}

.horizontal {
  display: flex;

  flex-wrap: wrap;
}

.child {
  margin: 0 5px;
  width: 97%;
}

@media only screen and (max-width: 860px) {
  .horizontal {
    flex-direction: column;
  }
}
