.header {
  display: flex;
  justify-content: space-between;
  background-color: #fef5ea !important;

  app-logo {
    margin: 10px;
  }

  .burger-menu {
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  a {
    text-decoration: none !important;
  }
  .header {
    .burger-menu {
      display: flex !important;
      margin-right: 20px;
      background: transparent !important;

      .burger-icon {
        display: flex;
        align-items: center;

        ul {
          text-align: center;
          width: fit-content;
          height: fit-content;
          li {
            height: fit-content;

            div {
              height: 24px;
            }
          }
        }
      }

      .tele-for-mobile {
        display: flex !important;
        align-items: center;
        img {
          width: 32px;
        }

        .support {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 0.625rem;
          line-height: 0.75rem;
          text-transform: uppercase;
          color: rgb(138, 138, 143);
          margin-left: 0.5rem;

          .phone {
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.25rem;
            color: rgb(67, 148, 115) !important;
          }
        }
      }
    }

    app-nav-bar {
      display: none !important;
    }

    .menuMobileFrame {
      display: block;
      position: absolute;
      right: 0px;
      top: 100%;
      min-width: 11.25rem;
      margin-right: 0.8125rem;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 30px;
      display: none;
    }
  }
}
