<div class="header">
  <app-logo></app-logo>
  <div class="burger-menu">
    <div class="tele-for-mobile">
      <img
        src="https://cancuocthucung.vn\img\images\Home\teleForMobile.svg"
        alt="call"
      />
      <div class="support">
        <div>Hotline hỗ trợ</div>
        <div class="phone">0978 265 993</div>
      </div>
    </div>
    <div class="burger-icon">
      <ul
        nz-menu
        nzPlacement="bottomRight"
        nzMode="horizontal"
        class="burger-menu"
      >
        <li nz-submenu nzPlacement="bottomRight" nzIcon="menu">
          <ul>
            <li nz-menu-item><a href=".">Trang chủ</a></li>
            <li nz-menu-item><a href=".">Tính năng</a></li>
            <li nz-menu-item><a href=".">Đánh giá</a></li>
            <li nz-menu-item (click)="visible = true">Liên hệ</li>
            <li nz-menu-item>
              <strong><a href=".">Đăng ký làm thẻ</a></strong>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
</div>
