<div class="form-item" [class.checked]="field.defaultValue == true">
  <form [formGroup]="formName">
    <label>
      {{ field.label }}
      <input
        type="checkbox"
        [name]="field.fieldName"
        [formControlName]="field.fieldName || ''"
        [value]="field.defaultValue"
      />
    </label>
  </form>
</div>
