<!-- NG-ZORRO -->
<div class="app-root">
  <div class="header">
    <div class="app-content">
      <app-header></app-header>
    </div>
  </div>
  <div class="app-content">
    <router-outlet class="app-content"></router-outlet>
  </div>
  <div class="app-footer">
    <div class="app-content" style="padding: 20px">
      <app-footer class="app-footer"></app-footer>
    </div>
  </div>
</div>
<!-- <app-dynamic-form [model]="model" title="Dynamic form"></app-dynamic-form> -->
<app-chat></app-chat>
