.app-root {
  background-color: rgb(242, 242, 242);
  .header {
    background-color: #fef5ea;
  }
  .app-content {
    width: 60%;
    margin: auto;
  }
  .app-footer {
    background-color: #fef5ea;
  }
}

@media only screen and (max-width: 1600px) {
  .app-root {
    .app-content {
      width: 100%;
    }
  }
}
