<ng-container *ngIf="registerForm"> </ng-container>
<form nz-form class="register-form" [formGroup]="registerForm">
  <div class="step flex-row">
    <div class="step-number">1</div>
    THÔNG TIN CHUNG
  </div>
  <nz-divider></nz-divider>
  <div class="flex-row form-layout">
    <div class="flex-2" style="padding: 10px">
      <app-dynamic-form
        [model]="nameModel"
        (formGroupEvent)="onFormChange($event)"
        (isValid)="isValidForm($event, 'name-info')"
      ></app-dynamic-form>
      <app-dynamic-form
        [model]="specieModel"
        [isHorizontal]="true"
        (formGroupEvent)="onFormChange($event)"
        (isValid)="isValidForm($event, 'specie-info')"
      ></app-dynamic-form>
    </div>
    <div class="flex-2" style="padding: 10px">
      <app-dynamic-form
        [model]="originModel"
        [isHorizontal]="true"
        (formGroupEvent)="onFormChange($event)"
        (isValid)="isValidForm($event, 'origin-info')"
      ></app-dynamic-form>
    </div>
  </div>
  <div class="flex-row form-layout">
    <div class="flex-2" style="padding: 10px">
      <div class="step flex-row">
        <div class="step-number">2</div>
        NƠI CƯ TRÚ
      </div>
      <nz-divider></nz-divider>
      <!-- <nz-form-item>
        <nz-form-control nzErrorTip="Please select your gender!">
          <div class="input-style">
            <label class="input">
              <select
                class="input__field"
                (change)="onProvinceChange($event)"
                formControlName="province"
              >
                <option disabled selected>{{ " " }}</option>
                <ng-container *ngFor="let province of provinces">
                  <option [value]="province.province_id">
                    {{ province.name }}
                  </option>
                </ng-container>
              </select>
              <span class="input__label">Tỉnh / Thành Phố</span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select your gender!">
          <div class="input-style">
            <label class="input">
              <select
                class="input__field"
                (change)="onDistrictChange($event)"
                formControlName="district"
              >
                <option disabled selected>{{ " " }}</option>
                <ng-container *ngFor="let district of districts">
                  <option [value]="district.district_id">
                    {{ district.name }}
                  </option>
                </ng-container>
              </select>
              <span class="input__label">Quận / Huyện</span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item> -->
      <app-dynamic-form
        [model]="model"
        (formGroupEvent)="onFormChange($event)"
        (isValid)="isValidForm($event, 'address-info')"
      ></app-dynamic-form>
      <nz-form-item> </nz-form-item>
      <!-- <nz-form-item class="item-row">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="Địa chỉ có độ dài ít nhất là 10, và không dài hơn 100 ký tự"
        >
          <div class="input-style">
            <label class="input">
              <input
                class="input__field"
                type="text"
                required
                placeholder=" "
                style="width: 100% !important"
                formControlName="address"
              />
              <span class="input__label">Đường / phố</span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item> -->
    </div>
    <div class="flex-1" style="padding: 10px">
      <div class="step flex-row">
        <div class="step-number">3</div>
        ẢNH CĂN CƯỚC
      </div>
      <div class="upload-file">
        <label for="upload-photo" [style.background]="props.cropImgPreview">
          <ng-container *ngIf="props.cropImgPreview == ''; else templateA">
            <img
              src="https://cancuocthucung.vn/img/images/RegisterCard/choseImg.svg"
              alt=""
            />
            Chọn ảnh Boss
          </ng-container>
          <ng-template #templateA>
            <div>
              <img
                alt="canCuocThuCung"
                class="avatar"
                [src]="props.cropImgPreview"
              />
              <div class="choose-again">
                <img
                  alt="canCuocThuCung"
                  src="https://cancuocthucung.vn/img/images/RegisterCard/choseAgain.svg"
                  style="width: 18px; margin-right: 6px"
                />
                <div>Chọn lại ảnh Boss</div>
              </div>
            </div>
          </ng-template>
        </label>

        <input
          #uploadInput
          type="file"
          id="upload-photo"
          (click)="onFileClick($event)"
          (change)="onFileChange($event)"
        />
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="count flex-row">
    <div class="count__title">Số lượng:</div>
    <div class="count__group flex-row">
      <ng-container *ngIf="count <= 1; else biggerThanZero">
        <img
          alt="canCuocThuCung"
          src="https://cancuocthucung.vn/img/images/RegisterCard/reduceIcon.svg"
        />
      </ng-container>
      <ng-template #biggerThanZero>
        <img
          (click)="countChange(false)"
          src="https://cancuocthucung.vn/img/images/RegisterCard/reduceIconActive.svg"
          alt=""
        />
      </ng-template>
      <div class="number">{{ count }}</div>
      <img
        alt="canCuocThuCung"
        src="https://cancuocthucung.vn/img/images/RegisterCard/increaseIcon.svg"
        (click)="countChange()"
      />
    </div>
  </div>
</form>
<nz-modal
  [(nzVisible)]="isCopperVisible"
  nzTitle="tải ảnh"
  (nzOnCancel)="cropperCanceled()"
  (nzOnOk)="croppedClick()"
  nzCancelText="Đóng"
  nzOkText="Xong"
>
  <ng-container *nzModalContent>
    <image-cropper
      class="img-cropper"
      [imageChangedEvent]="imgChangeEvt"
      [maintainAspectRatio]="true"
      [aspectRatio]="100 / 136"
      [resizeToWidth]="256"
      [transform]="{ rotate, scale: zoom  }"
      format="png"
      (imageCropped)="cropImg($event)"
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()"
      (loadImageFailed)="imgFailed()"
    >
    </image-cropper>
    <div class="slider">
      <div (click)="zoomChange(false)">-</div>
      <div style="width: 200px">
        <nz-slider
          [(ngModel)]="zoom"
          nzMax="3"
          nzMin="1"
          nzStep="0.1"
          name="slider"
        ></nz-slider>
      </div>
      <div (click)="zoomChange()">+</div>
    </div>
    <div class="slider">
      <div>↺</div>
      <div style="width: 200px">
        <nz-slider
          [(ngModel)]="rotate"
          nzMax="360"
          nzMin="0"
          nzStep="1"
          name="slider"
        ></nz-slider>
      </div>
      <div>↻</div>
    </div>
  </ng-container>
</nz-modal>
