.register-form {
  border: 1px solid rgb(242, 242, 242);
  background: white;
  margin-top: 15px;
  border-radius: 8px;
  padding: 30px;
  .step {
    padding-left: 10px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(138, 138, 143);
    -webkit-box-align: center;
    align-items: center;
    &-number {
      border-radius: 50%;
      width: 24px;
      line-height: 24px;
      background: rgb(242, 242, 242);
      text-align: center;
      margin-right: 10px;
    }
  }
  .item-row {
    height: 50px;
    margin-bottom: 24px;
  }
}

.disabled:hover {
  cursor: not-allowed !important;
}

.img-cropper {
  height: 500px;
}

.upload-file {
  border-radius: 12px;
  border: 1px dashed rgb(218, 218, 218);
  width: 13.1875rem;
  height: 18rem;
  font-family: "Fira Sans";
  margin-top: 25px;

  .avatar {
    width: 100%;
    object-fit: cover;

    border-radius: 12px;
    border: 1px dashed rgb(218, 218, 218);
  }

  .choose-again {
    display: flex;
    position: absolute;
    border-radius: 12px;
    border: 1px dashed rgb(218, 218, 218);
    border-top: none;
    bottom: 30px;
    width: 209px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.47);
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    color: rgb(255, 255, 255);
    padding: 13px;
    border-radius: 0px 0px 12px 12px;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }

  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin: auto;
  }

  label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.input-style {
  border-radius: 15px;
  border: 1px solid gray;
  height: 50px;
  display: flex;
  justify-content: space-around;
  &:hover {
    cursor: pointer;
  }
  .input {
    position: relative;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
      cursor: pointer;
    }
    select {
      height: 28px !important;
      margin: 0;
      padding: 4px 0 0 0;
      font-size: 14px;
      &:hover {
        cursor: pointer;
      }
    }
    &__label {
      position: absolute;
      top: 5px;
      padding: 0 7px 0 7px;
      margin-left: 15px;
      background: white;
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
      &:hover {
        cursor: pointer;
      }

      &__active {
        transform: translate(0.25rem, -150%) scale(0.8);
      }
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      // border: 3px solid currentColor;
      border: none !important;

      color: currentColor;
      background: transparent;

      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(0.25rem, -150%) scale(0.8);
        }
      }

      &:focus {
        outline-width: 0 !important;
        border: none !important;
      }
    }
  }
}

.dual-input {
  justify-content: space-between;
}

.count {
  justify-content: space-between;

  &__title {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    color: rgb(109, 64, 48);
  }

  &__group {
    align-items: center;
    .number {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 200%;
      color: rgb(59, 40, 23);
      padding: 0px 20px;
      padding: 0 20px 0 20px;
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin: 0 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
