.register {
  background-color: rgb(242, 242, 242);
  display: flex;
  padding: 0px 20px 0px 20px;

  .left-side {
    flex: 20;
  }

  .right-side {
    flex: 8;

    &__body {
      width: 350px;
    }
  }
}

.txb-boss-name {
  width: 120px;
}

.demo {
  margin-top: 30px;

  &__card {
    margin-top: 30px;

    position: relative;

    .demo-info {
      position: absolute;
      top: 110px;
      left: 25px;
      width: max-content;

      img {
        width: 84px;
        object-fit: cover;
      }

      .info {
        width: 226px;

        .info-row {
          margin-bottom: 0.25rem !important;
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
        }

        .info-row-2 {
          justify-content: space-between !important;
          display: flex;
          width: 200px;
        }

        .info-left-gender {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 9px;
          line-height: 150%;
          color: rgb(59, 40, 23);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          padding: 0 0.25rem !important;
          flex: 0 0 50%;
          max-width: 50%;
        }

        .info-right-gender {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 150%;
          color: rgb(59, 40, 23);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          text-align: initial;
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 !important;

          img {
            border-radius: 8px;
            width: 18px;
          }
        }

        .info-left {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 9px;
          line-height: 150%;
          color: rgb(59, 40, 23);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          padding: 0 0.25rem !important;
          flex: 0 0 25%;
          max-width: 25%;
        }

        .row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
        }

        .info-left-birth {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 9px;
          line-height: 150%;
          color: rgb(59, 40, 23);
          display: flex;
          -webkit-box-align: center;
          align-items: center;

          flex: 0 0 50%;
          max-width: 50%;

          padding: 0 0.25rem !important;
        }

        .info-right-birth {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 9px;
          line-height: 150%;
          color: rgb(59, 40, 23);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          flex: 0 0 50%;
          max-width: 50%;
        }

        .info-right {
          font-family: "Fira Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 150%;
          color: rgb(59, 40, 23);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          text-align: initial;
          padding: 0 !important;
          flex: 0 0 66.666667%;
          max-width: 66.666667%;
        }
      }
    }
  }

  .tab-demo {
    display: flex;
    flex-direction: row;

    &__item {
      font-family: "Fira Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: rgb(138, 138, 143);
      margin-right: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    &__active {
      color: rgb(67, 148, 115);
    }
  }
}

.pet-avatar {
  img {
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 8px;
  }
}
