<div class="register">
  <div class="left-side">
    <app-page-title></app-page-title>
    <app-register-form
      (onPropsChange)="onPropsChange($event)"
      [count]="count"
      [totalAmount]="totalAmount"
      (onCountChange)="onCountChange($event)"
      (isValid)="onValidFormChange($event)"
    ></app-register-form>
  </div>
  <div class="flex-1"></div>
  <div class="right-side">
    <div class="right-side__body">
      <div class="demo">
        <div class="register-step">
          <img
            src="https://cancuocthucung.vn/img/images/RegisterCard/step1.svg"
            alt=""
          />
        </div>
        <div class="demo__card">
          <div class="tab-demo">
            <div
              class="tab-demo__item"
              [class.tab-demo__active]="frontActive"
              (click)="frontActiveChange(true)"
            >
              Mặt trước
            </div>
            <div
              class="tab-demo__item"
              [class.tab-demo__active]="!frontActive"
              (click)="frontActiveChange(false)"
            >
              Mặt sau
            </div>
          </div>
          <ng-template #backTemplate>
            <img
              src="https://cancuocthucung.vn/img/images/RegisterCard/DemoCardBehide.jpg"
              alt=""
            />
          </ng-template>
          <ng-container *ngIf="frontActive; else backTemplate">
            <img
              src="https://cancuocthucung.vn/img/images/RegisterCard/DemoCardFront.jpg"
              alt=""
            />
            <div class="demo-info">
              <div class="flex-row">
                <div class="info">
                  <div class="info-row">
                    <div class="info-left">Họ tên</div>
                    <div class="info-right">{{ props.name }}</div>
                  </div>
                  <div class="info-row-2">
                    <div style="width: 56%" class="row">
                      <div class="info-left-birth">Ngày sinh:</div>
                      <div class="info-right-birth">
                        {{ birthDateString }}
                      </div>
                    </div>
                    <div style="width: 45%; margin: 0" class="row">
                      <div class="info-left-gender">Giới tính:</div>
                      <div class="info-right-gender">
                        <img
                          alt="canCuocThuCung"
                          src="https://cancuocthucung.vn/img/images/RegisterCard/female.svg"
                        />
                        {{ props.gender }}
                      </div>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-left">Bộ tộc</div>
                    <div class="info-right">
                      {{ props.specie ? props.specie.name + " " : ""
                      }}{{ props.tribe ? props.tribe.name : "" }}
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-left">Nguồn gốc</div>

                    <div class="info-right">{{ props.origin.name }}</div>
                  </div>
                  <div class="info-row">
                    <div class="info-left">Quê quán</div>
                    <div class="info-right">{{ props.hometown.name }}</div>
                  </div>
                  <div class="info-row">
                    <div class="info-left">Nơi cư trú</div>
                    <div class="info-right">{{ addressString }}</div>
                  </div>
                </div>
                <div class="pet-avatar">
                  <ng-container *ngIf="props.cropImgPreview">
                    <img [src]="props.cropImgPreview" alt="" />
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <app-warning-text></app-warning-text>
      <app-payment-card
        [count]="count"
        [totalAmount]="totalAmount"
        [canSubmit]="canSubmit"
      ></app-payment-card>
    </div>
  </div>
</div>
