@media only screen and (max-width: 1050px) {
  .register {
    flex-direction: column;
    padding-bottom: 15px;

    .left-side {
      width: 100%;
    }

    .right-side {
      &__body {
        width: 100%;

        .demo {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
