h1,
h2 {
  margin: 0;
}

h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: rgb(109, 64, 48);
}

h1 {
  padding-top: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: rgb(59, 40, 23);
}

.list-info {
  background-color: white;
  width: 100%;
  height: 92px;
  border-radius: 8px;
  margin-top: 32px;
  div {
    height: 100%;
  }
  .item {
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    .item-content {
      width: 100%;
      height: auto;
      margin: auto;
      .item-title {
        color: #8a8a8f;
      }
    }

    .item-img {
      justify-content: center;
    }
  }
}

.border-right {
  border-right: 1px solid rgb(242, 242, 242);
}

@media only screen and (max-width: 650px) {
  .responsive-column {
    flex-direction: column !important;
  }

  .list-info {
    height: auto;
    margin-top: 32px;
    padding: 15px;
    border: 1px solid rgb(242, 242, 242);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: "Fira Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 13px !important;
    line-height: 150%;
    color: rgb(138, 138, 143);
    background: white;

    .item {
      height: 62px;
      padding: 15px;

      &-content {
        margin: 0 15px !important;
        width: fit-content !important;
      }
      &-title,
      &-description {
        width: fit-content;

        color: rgb(59, 40, 23);
      }
      &-img {
        justify-content: unset !important;
      }
    }
  }
}
