<div class="title">
  <h1>Thông tin đăng ký làm thẻ</h1>
  <h2>
    Mua 1 thẻ Căn Cước Thú Cưng bạn sẽ ủng hộ vào quỹ từ thiện
    <strong>+5.000đ</strong>
  </h2>
</div>
<div class="list-info">
  <div class="flex-row responsive-column">
    <div class="item flex-row">
      <div class="item-img flex-column">
        <img src="assets/svg/delivery-box.svg" alt="" />
      </div>
      <div class="item-content flex-column border-right">
        <div class="item-title">Giao hàng</div>
        <div class="item-description">5 - 7 ngày</div>
      </div>
    </div>
    <div class="item flex-row">
      <div class="item-img flex-column">
        <img src="assets/svg/credit-card.svg" alt="" />
      </div>
      <div class="item-content flex-column border-right">
        <div class="item-title">Khi đăng ký lại thẻ lần 2</div>
        <div class="item-description">Giảm 50%</div>
      </div>
    </div>
    <div class="item flex-row">
      <div class="item-img flex-column">
        <img src="assets/svg/heart-box.svg" alt="" />
      </div>
      <div class="item-content flex-column">
        <div class="item-title">Quỹ ủng hộ các trạm cứu hộ chó mèo</div>
        <div class="item-description">Ủng hộ + <strong>5.000đ</strong></div>
      </div>
    </div>
  </div>
</div>
