.footer-container {
  background-color: rgb(255, 246, 236);
  display: flex;
  justify-content: space-between;
  .contact {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgb(109, 64, 48);
    margin-bottom: 13px;

    img {
      margin-right: 15px;
    }
  }
  .copyright {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: rgb(198, 148, 111);
    margin-top: 17px;
  }
  .item {
    display: flex;

    h6 {
      font-family: "Fira Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgb(109, 64, 48);
      padding-top: 15px;
    }
    .social {
      margin-left: 60px;
      display: flex;
      a {
        margin-left: 20px;
      }
    }
    .logo {
      width: 115px;
    }
  }
}

@media only screen and (max-width: 710px) {
  .footer-right {
    display: none !important;
  }
}
