<div class="footer-container">
  <div class="footer-left">
    <div class="item">
      <div class="logo">
        <app-logo width="115"></app-logo>
      </div>
      <div class="social">
        <a
          href="https://www.facebook.com/petid.vietnam/"
          class="icon-ft icon-fb"
          target="_blank"
          ><img
            alt="canCuocThuCung"
            src="https://cancuocthucung.vn/img/images/facebook.svg"
        /></a>
        <a
          href="https://www.instagram.com/cancuoc.thucung"
          class="icon-ft icon-insta"
          target="_blank"
          rel="noreferrer"
        >
          <img
            alt="canCuocThuCung"
            src="https://cancuocthucung.vn/img/images/instagram.svg"
        /></a>
        <a href="#" class="icon-ft icon-youtube">
          <img
            alt="canCuocThuCung"
            src="https://cancuocthucung.vn/img/images/youtube.svg"
          />
        </a>
      </div>
    </div>
    <div class="item">
      <h6 class="rs name-company">
        Công ty CP Giải Pháp Sáng Tạo SGS Creation<!-- -->
      </h6>
    </div>
    <div class="item flex contact">
      <img
        alt="canCuocThuCung"
        class="icon-detail-company"
        src="https://cancuocthucung.vn/img/images/Footer/address.svg"
      />
      Địa chỉ: Tây Hà Tower - 19 Tố Hữu - Q. Nam Từ Liêm, HN
    </div>
    <div class="item flex contact">
      <img
        alt="canCuocThuCung"
        class="icon-detail-company"
        src="https://cancuocthucung.vn/img/images/Footer/phone.svg"
      />
      Phone: (+84) 978 265 993
    </div>
    <div class="item flex contact">
      <img
        alt="canCuocThuCung"
        class="icon-detail-company"
        src="https://cancuocthucung.vn/img/images/Footer/email.svg"
      />
      Email:
      <a
        style="padding-left: 3px; color: #439473"
        href="mailto:cancuoc.thucung@gmail.com"
        >cancuoc.thucung@gmail.com</a
      >
    </div>
    <div class="item copyright">
      © 2023 Bản quyền thuộc về SGS Creation JSC.
    </div>
  </div>
  <div class="footer-right">
    <iframe
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpetid.vietnam&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
      width="100%"
      height="100%"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
  </div>
</div>
