<div class="form-item">
  <form [formGroup]="formName">
    <label>{{ field.label }}</label>
    <label *ngFor="let option of field.options">
      <input
        type="radio"
        [name]="field.fieldName || ''"
        [formControlName]="field.fieldName || ''"
        [value]="option.value"
      />
      {{ option.label }}
    </label>
  </form>
</div>
