/* You can add global styles to this file, and also import other style files */
:root {
  --form-background: white;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-2 {
  flex: 2;
}

.flex-15 {
  flex: 15;
}

.flex-1 {
  flex: 1;
}

.message {
  border-bottom: thin solid gray;
  /* border-radius: 20px; */
  padding: 10px;

  margin: 15px 10px;
}
.message-time {
  font-size: 8px;
  color: grey;
}

.reverse {
}

.message-user-avatar {
  width: 28px;
  height: 28px;
  border: 1px solid gray;
  border-radius: 14px;
  overflow: hidden;
  margin-right: 10px;
}

.message-user-avatar img {
  width: 28px;
  /* object-fit: cover; */
}

.message-username {
  font-size: 13px;
  padding: 2px;
  color: goldenrod;
  height: auto;
  width: auto;
  font-weight: bold;
  font-style: italic;
}

.message-content {
  height: auto;
  font-size: 12px;
  padding: 2px;
  align-items: right;
}

.own-message {
  text-align: right;
}

.message-content span {
  display: inline-block;
  width: 70%;
  overflow-wrap: break-word !important;
}

.card {
  background-color: rgba(158, 205, 181, 0.793);
}

.chat-zone {
  border: 3px solid gray;
  height: 350px;
  border-radius: 8px;
  overflow-y: scroll;
}

.message {
  margin-top: 15px;
}

.message-control {
  margin: 15px 0 !important;
  padding: 0 !important;
}

.chat-box {
  padding: 15px;
  width: 300px;
  height: 500px;
  margin: auto;
}

#rootId {
  width: 310px;

  height: 510px;
  z-index: 999;
  position: fixed;
  inset-inline-end: 24px;
  inset-block-end: 48px;
}

.username-input {
  z-index: 999;
  position: fixed;
  inset-inline-end: 24px;
  inset-block-end: 48px;
  width: 300px;
}

.message-input {
  width: 95%;
}

.message-submit {
  /* width: 10%; */
}

.close-button {
  color: red;
}
