<div class="warning-frame">
  <div class="box-warning">
    <img
      src="https://cancuocthucung.vn/img/images/RegisterCard/warning.svg"
      alt=""
    />
    <div>
      Vui lòng cung cấp đủ thông tin để Admin có đủ dữ liệu xác nhận in thẻ.
    </div>
  </div>
</div>
