.warning-frame {
  // width: 290px;
  margin-top: 20px;

  .box-warning {
    width: 100%;
    padding: 18px;
    background: rgb(255, 246, 224);
    border-radius: 8px;
    font-size: 0.875rem;
    font-family: "Fira Sans";
    display: flex;

    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;

    img {
      margin-right: 15px;
    }
  }
}
